.ew{
    background: url("./icons.png") no-repeat 0 0;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.ew.ew-highlighted {
    background-position-y:-24px;
}
.ew.ew-fire{
    background-position-x: 0;
}
.ew.ew-time {
    background-position-x: -24px;
}
.ew.ew-justice {
    background-position-x: -48px;
}
.ew.ew-primal {
    background-position-x: -72px;
}
.ew.ew-shadow {
    background-position-x: -96px;
}
.ew.ew-multi {
    background-position-x: -120px;
}
.ew.ew-none {
    background-position-x: -144px;
}
.ew.ew-power {
    background-position-x: -168px;
}
.ew.ew-yellow {
    background-position-x: -192px;
}
.ew.ew-red {
    background-position-x: -216px;
}
.ew.ew-sword {
    background-position-x: -240px;
}
.ew.ew-heart {
    background-position-x: -264px;
}
.ew.ew-armor {
    background-position-x: -288px;
}
.ew.ew-shiftstone {
    background-position-x: -312px;
    width :19px;
}
.ew.ew-gold {
    background-position-x: -336px;
}
.ew.ew-gem {
    background-position-x: -360px;
}