@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 15em;
    background: whitesmoke;
    color: darkblue;
    font-family: 'Roboto', sans-serif;
}
h1, h3 {
    text-align: center;
}
li {
    list-style: none;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 2px;
}
.option label {
    display: block;
    position: relative;
}
.option label::before {
    content: '';
    display: inline-block;
    width: 18px;
    line-height: 16px;
}
.option input {
    display: none;
}
.option label:active {
    top: 1px;
    left: 1px;
}
.option input:checked + label::before {
    content: '✅';
}
ul {
    padding: 8px;
}
h3 {
    margin: 0;
    padding: 8px;
}
button[type="button"], input[type="submit"] {
    position: relative;
    padding: 4px 8px;
    font-size: 1.2em;
    font-weight: bold;
    color: darkblue;
    background: lightgoldenrodyellow;
    box-shadow: 3px 3px 1px lightyellow;
    margin: 0 4px;
    border-radius: 4px;
}
button[type="button"]:active, input[type="submit"]:active {
    top: 3px;
    left: 3px;
}
button[type="button"]:disabled, input[type="submit"]:disabled {
    color: black;
    background: gray;
}
#playing-section,
.playing #settings-section {
    display: none;
}
#settings-section {
    position: relative;
}
#settings-submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background: whitesmoke;
    border-top: 1px solid darkblue;
}
.playing #playing-section {
    display: block;
}
#try-again {
    display: none;
}
.end-game #try-again {
    display: inline-block;
}
table {;
    width: 100%;
    border-collapse: collapse;
}
tr, td, th {
    border: 1px solid black;
}
.influence,
.set,
.missed,
.rarity,
.cost,
.stats,
.type {
    display: none;
}
.missed {
    color: red;
}
.show-influence .influence,
.show-sets .set,
.show-rarity .rarity,
.show-cost .cost,
.show-stats .stats,
.show-type .type {
    display: table-cell;
}
.show-missed .missed {
    display: inline;
}
#previous, #skip, #current-hero {
    display: none;
}
.force-order #previous,
.force-order #skip,
.force-order #current-hero {
    display: inline;
}
#menu {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 3px lightgray;
}
.panel {
    border: 1px solid black;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
}
.influence-icon {
    background: url("./icons.png") no-repeat 0 -24px;
    height: 24px;
    width: 24px;
    display: inline-block;
    padding: 0;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.influence-icon.f {
    background-position-x: 0;
}
.influence-icon.t {
    background-position-x: -24px;
}
.influence-icon.j {
    background-position-x: -48px;
}
.influence-icon.p {
    background-position-x: -72px;
}
.influence-icon.s {
    background-position-x: -96px;
}
.influence-icon.m {
    background-position-x: -120px;
}
.influence-icon.n {
    background-position-x: -144px;
}
.current {
    background: lightyellow;
}

#results-table {
    margin: 8px;
}
#playing-form {
    text-align: center;
}
.columns-2 td {
    width: 50%;
}
.columns-3 td {
    width: 33.3333%;
}
.columns-4 td {
    width: 25%;
}
.columns-5 td {
    width: 20%;
}
.columns-6 td {
    width: 16.6666%;
}
.columns-7 td {
    width: 14.2857142857%;
}
.columns-8 td {
    width: 12.5%;
}

#flexy {
    display: flex;
}
#flexy > .panel {
    width: 33%;
}