@font-face {
    font-family: 'handel';
    src: url('./fonts/handel_gothic_d_bold-webfont.woff2') format('woff2'),
        url('./fonts/handel_gothic_d_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

body {
    overscroll-behavior: contain;
}

.half {
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inverted {
    transform: rotate(180deg);
}
#bottom-half {
    top: 50%;
    background-color: red;
}

.value {
    font-size: 10em;
}

#reset {
    font-size: 3em;
    width: 5em;
    height: 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    line-height: 1;
    font-family: 'handel', sans-serif;

    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    background-color: #555555;
}

#reset:active {
    margin-left: calc(-2.5em + 1px);
    margin-top: calc(-1em + 1px);
}