body {
    max-width: 960px;
    margin: 1em auto;
}
header {
    width: 100%;
    display: flex;
}

input {
    border: none;
    border-bottom: 1px solid black;
}
textarea {
    display: block;
    width: 100%;
    resize: none;
}
