:root {
    --main-color: #00738c;
    --background-color: whitesmoke;
    --shadow-color: #708090;
    --input-color: #000;
}

@font-face {
    font-family: "Sofia Sans";
    src: url("./fonts/SofiaSans-Regular.woff2") format("woff2"),
    url("./fonts/SofiaSans-Regular.woff") format("woff");
}
* {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 111px;
    background: var(--background-color);
    margin: 0;
}
body.info-open {
    overflow: hidden;
}

a, a:visited {
    color: var(--main-color);
    display: block;
    padding: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 8px 0;
}

li {
    margin-bottom: 8px;
}

header {
    box-shadow: 0 5px 5px var(--shadow-color);
    position: fixed;
    top: 0;
    background: var(--background-color);
    width: 100%;
    z-index: 1;
    padding: 8px;
}
.header-content {
    width: 50%;
    margin: 0 auto;
}
.header-content h1 {
    text-align: center;
}
.header-content h1,
#search-input-wrapper {
    margin: 0 0 8px 0;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 100%;
    height: 36px;
    border: 3px solid var(--main-color);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--input-color);
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: var(--background-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.icon {
    color: var(--main-color);
    margin-left: 3px;
}

#results {
    margin-top: 16px;
    padding: 16px;
}

#results table {
    width: 100%;
    border-collapse: collapse;
}

#results tr {
    border-top: 1px solid var(--main-color);
}
#results thead tr {
    border-bottom: 2px solid var(--main-color);
}
#results tr:first-child {
    border-top: none;
}

#results th {
    text-align: left;
    padding: 8px;
    font-size: 1.2em;
}

#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
}
.info-open #cover {
    display: block;
}
#open-filter-menu {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

#side-panel {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 90%;
    background-color: var(--background-color);

    /*box-shadow: -3px -3px 3px gray;*/
    box-shadow: 0 5px 5px var(--shadow-color);
    transition: left 0.5s;
    z-index: 3;
}

#side-panel.open {
    left: 10%;
}

#side-panel .close-side-panel {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

#side-panel-content {
    padding: 26px 8px;
    max-width: 90%;
    margin: 0 auto;
}

#side-panel-content iframe {
    border: none;
    display: block;
    width: 100%;
    height: 300px;
}
#more-filters,
#show-more-filters {
    display: none;
}
:checked ~ #more-filters {
    display: block;
}
.small {
    font-size: 0.7em;
}
.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
    max-width: 100%;
}
.dropdown {
    color: var(--input-color);
}
.vscomp-ele {
    max-width: none;
}
#filters {
    max-width: 90%;
    margin: 0 auto;
}
input[type="number"] {
    /*display: flex;*/
    position: relative;
    align-items: center;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}
input[type="number"]:focus,
input[type="number"]:focus-visible{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
        0 3px 1px -2px rgba(0,0,0,0.12),
        0 1px 5px 0 rgba(0,0,0,0.2);
    outline: none;
}

@media(max-width:800px){
    .hide-sm {
        display:none;
    }
    .header-content {
        width: 90%;
    }
    td {
        padding-top: 10px;
    }
    #results {
        margin-top: 0;
        padding: 8px;
    }
    #side-panel-content {
        max-width: 100%;
    }
}

@media (min-width: 801px) {
    .hide-lg {
        display: none;
    }
}