@font-face {
    font-family: "Sofia Sans";
    src: url("./fonts/SofiaSans-Regular.woff2") format("woff2"),
    url("./fonts/SofiaSans-Regular.woff") format("woff");
}
body {
    font-size: 16px;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 111px;
    background: whitesmoke;
    margin: 0;
}
header {
    box-shadow: 0 5px 5px gray;
    position: fixed;
    top: 0;
    background: whitesmoke;
    width: 100%;
    z-index: 1;
}
.header-content {
    width: 75%;
    margin: 0 auto;
}
header h1 {
    margin: 8px;
}

#form {
    position: relative;
    width: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 8px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search-term:focus{
    color: #00B4CC;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.icon:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    margin-left: 3px;
    position: relative;
    top: 2px;
}

.location:after {
    background-image: url("./icons/location.png");
}

.facebook:after {
    background-image: url("./icons/facebook.jpg");
}

.phone:after {
    background-image: url("./icons/phone.png");
}

#results {
    margin-top: 16px;
    padding: 16px;
}

#results table {
    width: 100%;
    border-collapse: collapse;
}

#results tr {
    border-top: 1px solid #00B4CC;
}

#results tr:first-child {
    border-top: none;
}

#results th {
    padding: 8px;
}

#results td {
    border-left: 1px solid #00B4CC;
}

#results td:first-child {
    border-left: none;
}

ul {
    padding: 0;
    margin: 8px;
    list-style: none;
}

@media(max-width:800px){
    .hide-sm {
        display:none;
    }
    .header-content {
        width: 100%;
    }
}

@media (min-width: 801px) {
    .hide-lg {
        display: none;
    }
}