:root {
    --main-color: #00738c;
    --background-color: whitesmoke;
    --shadow-color: #708090;
    --input-color: #000;
}

@font-face {
    font-family: "Sofia Sans";
    src: url("./fonts/SofiaSans-Regular.woff2") format("woff2"),
    url("./fonts/SofiaSans-Regular.woff") format("woff");
}
* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 111px;
    background: var(--background-color);
    margin: 0;
}
body.info-open {
    overflow: hidden;
}

a, a:visited {
    color: var(--main-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 8px;
}

li {
    margin-bottom: 8px;
}

header {
    box-shadow: 0 5px 5px var(--shadow-color);
    position: fixed;
    top: 0;
    background: var(--background-color);
    width: 100%;
    z-index: 1;
    padding: 8px;
}
.header-content {
    width: 50%;
    margin: 0 auto;
}
.header-content h1 {
    text-align: center;
}
.header-content h1,
#form {
    margin: 0 0 8px 0;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 100%;
    height: 36px;
    border: 3px solid var(--main-color);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--input-color);
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: var(--background-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.icon {
    color: var(--main-color);
    margin-left: 3px;
}

#results {
    margin-top: 16px;
    padding: 16px;
}

#results table {
    width: 100%;
    border-collapse: collapse;
}

#results tr {
    border-top: 1px solid var(--main-color);
}
#results thead tr {
    border-bottom: 2px solid var(--main-color);
}
#results tr:first-child {
    border-top: none;
}

#results th {
    text-align: left;
    padding: 8px;
    font-size: 1.2em;
}

#cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
}
.info-open #cover {
    display: block;
}

#club-info {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 90%;
    background-color: var(--background-color);

    /*box-shadow: -3px -3px 3px gray;*/
    box-shadow: 0 5px 5px var(--shadow-color);
    transition: left 0.5s;
    z-index: 3;
}

#club-info.open {
    left: 10%;
}

#club-info .close-club-info {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

#club-info-content {
    padding: 8px;
}

#club-info-content iframe {
    border: none;
    display: block;
    width: 100%;
    height: 300px;
}

@media(max-width:800px){
    .hide-sm {
        display:none;
    }
    .header-content {
        width: 90%;
    }
}

@media (min-width: 801px) {
    .hide-lg {
        display: none;
    }
}