body {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 15em;
    background-color: white;
}
nav {
    border-bottom: .25em solid #e1e4e8;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 6px;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline-block;
}
#top {
    position: absolute;
    top: 0;
    left: 0;
}
a[rel="external"]::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8klEQVQ4T4WTyQrCQBBEX9zA/Xs9CB4Fv9YNxZ0KU7EdJxoIyUz3vFRXdyreVw+4ATNgB3TTOqR8vc6qtDUALkAfuAIj4Ag4XoJM9SEljFOyIU5+ppcSxGqfDjq59KU2lYJcFdRhyTkB918FAxPgAHwoEEC1y8D8WgIb4BwOdYBHSqxLECCvcwXotqnqiNS5Q/atCMjNmwPboCCa3QqwIiuQ7OhPY36phLwkGbcPLXW8frYBlJ+3OK4bz0oA7dlldyWa/KHQgGHWKrteGosiQCAfsnFtMxUBPStYAwsgDsk/QD2NAtR/1Z8RjmGdUcka/f4LZGNLH/27DEUAAAAASUVORK5CYII=);
    position: relative;
    top: 3px;
    margin-right: 2px;
}
footer {
    padding-left: 1em;
    color: darkgrey;
}
q {
    display: block;
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}
footer + q {
    margin-top: 16px;
}
q::before, q::after {
    content: '';
}
code {
    display: block;
    padding: 8px;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    white-space: pre;
}