#container {
    display: flex;
    max-width: 960px;
    margin: 2em auto;
    flex-direction: column;
    height: 100%;
}
.section {
    flex: 33%;
    padding: 2em;
    text-align: center;
}

input[type="number"] {
    display: block;
    margin: 2em auto 0;
}

.die {
    display: inline-block;
    cursor: pointer;
}
.results-on .die,
.results-on .value {
    display: none;
}